* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --base-color: 200;
  --base-color2: 190;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(var(--base-color), 8%, 12%);
    --header-bg: hsl(var(--base-color), 13%, 8%);
    --main-color: hsl(var(--base-color), 15%, 18%);
    --highlight-color: hsl(var(--base-color2), 25%, 49%);
    --font-color: hsl(0, 0%, 78%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(var(--base-color), 8%, 86%);
    --header-bg: hsl(var(--base-color), 13%, 9%);
    --main-color: hsl(var(--base-color), 24%, 97%);
    --highlight-color: hsl(var(--base-color2), 25%, 62%);
    --font-color: hsl(0, 0%, 20%);
  }
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--font-color);
  font-size: 16px;
}

header {
  min-height: fit-content;
  height: 5rem;
  background-color: var(--header-bg);
  box-shadow: 0 2px 7px grey;
  padding: 0rem 4rem;
  color: var(--highlight-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  button {
    height: 1.8rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
    filter: opacity(0.4);
    &:hover {
      filter: opacity(0.6);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 5px;
  padding: 2rem 0;
}

footer {
  height: 3rem;
  /* background-color: hsl(180, 13%, 8%); */
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight-color);
}

.colors-dialog {
  /* position: absolute;
  top: 30%; */
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 0px 3px 1px rgba(128, 128, 128, 0.1);
  padding: 3rem;
  color: var(--font-color);
}

div[popover] {
  position: absolute;
  top: -50%;
  max-width: 600px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 0px 3px 1px rgba(128, 128, 128, 0.1);
  color: var(--font-color);
}

.color-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  height: 200px;
  width: 200px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

input[range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  background: var(--background-color);
  cursor: pointer;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--font-color);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--highlight-color);
  /* border: 1px solid var(--background-color); */
  border: none;
  border-radius: 20%;
  height: 2rem;
  width: 1.5rem;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
  font-size: 1.1rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
    scale: 1.05;
  }
}

button[disabled] {
  cursor: default;
  &:hover {
    filter: none;
    scale: none;
  }
}

.content-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 760px;
  padding: 3rem 5rem;
  width: 80%;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.1);

  hr {
    width: 95%;
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 1rem;
  }
}

.arrow-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 82%;
  max-width: 850px;
  gap: 1rem;

  button {
    font-size: 1rem;
    background-color: var(--main-color);
    box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

@media (max-width: 720px) {
  .content-container {
    width: 90%;
    padding: 3rem 3rem;
  }

  header {
    padding: 0 3rem;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }

  header {
    padding: 0 2rem;
  }

  .content-container {
    width: 90%;
    padding: 3rem 2rem;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 0 1.5rem;
  }

  .content-container {
    width: 95%;
    padding: 1rem 1.5rem;
  }

  .arrow-container {
    flex-direction: column;
    button {
      padding: 1rem;
      /* font-size: 14px; */
    }
  }
}
